
  @media screen and (min-width: 992px) {
    .featured-image-wrap {
      position: relative;
      width: 100%;
      height: 100% !important;
      overflow: hidden;
    }
    .featured-image-wrap .featured-image-block {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200vh;
      height: 100vh;
      transform: translate(-50%, -50%);
    }
    @media (min-aspect-ratio: 16/9) {
      .featured-image-wrap .iframe {
        width: 100vw;
        height: 56.25vw;
      }
    }
  }
