/* Global styles migrated from the Slater source. */
/*<link rel="stylesheet" href="https://assets.slater.app/slater/826/3053.css">*/
/*<link rel="stylesheet" href="https://slater.app/826/3053.css">*/



.w-webflow-badge {
  display: none !important;
}

.w-editor,
.w-editor body,
.w-editor-bem-Pane_Body {
  overflow: auto !important;
}

.w-editor-publish-controls {
  display: none !important;
}

iframe {
  border: none;
}

* {
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
  outline: 0 !important;
}

html::-webkit-scrollbar {
  width: 0px;
}

/** inputs **/
input::placeholder,
textarea::placeholder {
  transition: .2s;
}

input:not([type="tel"], [data-placeholder-visible]):focus::placeholder,
textarea:not([data-placeholder-visible]):focus::placeholder {
  opacity: 0;
}

input[data-placeholder-visible]::placeholder,
textarea[data-placeholder-visible]::placeholder {
  opacity: 0.5;
}

input[data-placeholder-visible]:focus::placeholder,
textarea[data-placeholder-visible]:focus::placeholder {
  opacity: 0.3;
}


.form__label,
.form__label-invalid,
.form__submit-result {
  pointer-events: none;
}

.form__label.is-error,
.w-dropdown-toggle.is-error>div {
  color: #ff3d2e;
}

.input.is-error,
.w-dropdown-toggle.is-error {
  border-color: #FF3D2E !important;
}

.w-form .w-form-fail {
  display: none !important;
}

.w-form form[data-success-hide] {
  display: block !important;
}

.w-form form[data-success-hide]~.w-form-done {
  display: none !important;
}

[data-submit-wrap] {
  cursor: pointer;
}

[data-submit-wrap] input[type=submit] {
  display: none;
}


/** remodal **/
body {
  padding-right: 0px !important;
}

.remodal-overlay {
  background-color: rgba(2, 2, 30, 0.9);
}

.remodal-wrapper {
  padding: 0px;
  overflow: hidden;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

html.remodal-is-locked::-webkit-scrollbar-thumb,
html.remodal-is-locked::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 0%) !important;
}

/*html.remodal-is-locked {*/
/*  overflow: auto;*/
/*}*/

[data-remodal-id="video"] .remodal__close {
  pointer-events: none;
}

[data-remodal-id="video"] .remodal__close>div {
  pointer-events: auto;
}

/* player */
:root {
  --plyr-color-main: #3827C7;
}

.plyr {
  min-width: auto !important;
}

.plyr__controls {
  padding: 10px !important;
}

[data-video-wrap].active .plyr__controls {
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);
}

video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

video::-webkit-media-controls-panel {
  display: none !important;
}

/* swiper pagination */
.swiper,
.swiper-wrapper {
  user-select: none;
}

.swiper-nav__arrow.swiper-button-disabled,
.before-after-notes__arrow.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
}

[data-swiper="awards-runline"]>.swiper-wrapper {
  transition-timing-function: linear;
}

[data-swiper="awards-runline"].is--autoplay-stop>.swiper-wrapper {
  transition-timing-function: ease-out;
}

[data-swiper-pagination] {
  /*height: .25rem !important;*/
  position: relative !important;
  border-radius: 6rem !important;
  top: initial !important;
  bottom: initial !important;
}

[data-swiper-pagination] .swiper-pagination-bullet {
  height: 100%;
  margin: 0rem !important;
  opacity: .2;
  background-color: #EAEAEC;
  border-radius: 6.25rem;
  flex: 1;
  position: relative;
  transition: all .2s;
}

[data-swiper-pagination] .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

[data-swiper-pagination-style="dots"] {
  height: 0.5rem;
}

[data-swiper-pagination-style="dots"] .swiper-pagination-bullet {
  width: 0.5rem;
  flex: none;
}

[data-swiper-pagination-style="load"] .swiper-pagination-bullet {
  max-width: 100% !important;
  opacity: 1;
}

[data-swiper-pagination-style="load"] .swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 6.25rem;
  background-color: #3827C7;
}

[data-swiper-pagination-style="load"] .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  content: '';
  width: 100%;
  transition: all 4700ms linear;
}

[data-swiper-param="crossfade"]~div .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  transition: all 9700ms linear;
}

[data-swiper-pagination].swiper-pagination-progressbar {
  background-color: #EAEAEC;
}

[data-swiper-pagination].swiper-pagination-progressbar>span {
  background-color: #3827C7;
  border-radius: 6.25rem;
}

[data-swiper-pagination-color="black"].swiper-pagination-progressbar,
[data-swiper-pagination-color="black"] .swiper-pagination-bullet {
  background-color: rgb(15 34 53 / 100%);
}

[data-swiper-pagination-color="light"].swiper-pagination-progressbar,
[data-swiper-pagination-color="light"] .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.3);
}

[data-swiper-pagination-color="light"].swiper-pagination-progressbar>span,
[data-swiper-pagination-color="light"] .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}

[data-swiper-pagination-style="load"][data-swiper-pagination-color="light"] .swiper-pagination-bullet,
[data-swiper-pagination-style="load"][data-swiper-pagination-color="light"] .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.3);
}

[data-swiper-pagination-style="load"][data-swiper-pagination-color="light"] .swiper-pagination-bullet::after {
  background-color: #fff;
}

[data-swiper-pagination-style="load"][data-swiper-pagination-color="light-black"] .swiper-pagination-bullet::after,
[data-swiper-pagination-style="load"][data-swiper-pagination-color="light-black"] .swiper-pagination-bullet.done {
  background-color: #02021E;
}

[data-swiper-pagination-style="load"] .swiper-pagination-bullet {
  transition: all 0s;
}

.swiper-fade .swiper-slide:not(.swiper-slide-active) {
  z-index: -1;
}

/** animate links **/
[data-link-underline],
[data-links-underline] a:not([class]) {
  position: relative;
  display: inline-block;
}

[data-link-underline]:before,
[data-links-underline] a:not([class]):before {
  background: white;
  bottom: 0rem;
  content: "";
  display: inline-block;
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform .5s;
  transition-timing-function: cubic-bezier(.14, 0, 0, 1.01);
  width: 100%;
}

[data-link-underline]:hover:before,
[data-links-underline] a:not([class]):hover:before,
a:hover>[data-link-underline]:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

[data-link-underline="blue"]:before,
[data-links-underline="blue"] a:not([class]):before {
  background: #3827C7;
}

[data-link-underline="white-60"]:before,
[data-links-underline="white-60"] a:not([class]):before {
  background: rgba(255, 255, 255, 0.60);
}

[data-links-underline="blue-dark"] a:not([class]):before,
[data-link-underline="blue-dark"]:before {
  background: #255fef;
}

[data-links-underline="dark"] a:not([class]):before,
[data-link-underline="dark"]:before {
  background: #0F2235;
}

[data-links-underline="white"] a:not([class]):before,
[data-link-underline="white"]:before {
  background: #ffffff;
}

[fs-richtext-component="banner"] a:before {
  display: none !important;
}

/* toc links */
[data-toc-link]:hover~[fs-toc-element="link"] {
  color: #02021E;
}

[fs-toc-element="link"].w--current {
  color: #02021E;
}

[fs-toc-element="link"].w--current~[data-toc-line] {
  opacity: 1;
}

/** Country phone **/
.iti {
  width: 100%;
}

.iti__selected-flag>.iti__arrow {
  width: 1rem;
  height: 1rem;
  background-image: url(https://uploads-ssl.webflow.com/63f38a8c92397a024fcb9ae8/660c0b8c02c44d93ec1204e0_icon-arrow-black.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  position: relative;
  transform: rotate(0deg);
  transition: transform 200ms ease;
}

.iti__arrow.iti__arrow--up {
  transform: rotate(-180deg);
}

.iti__flag.iti__globe {
  background-image: url(https://uploads-ssl.webflow.com/63f38a8c92397a024fcb9ae8/660e4d9c852532a5c261f27e_icon-flag-unknown.svg);
}

.iti__selected-flag {
  padding: 0rem 0.5rem 0rem 0rem;
  background-color: transparent !important;
}

.iti--inline-dropdown .iti__dropdown-content {
  box-shadow: 0 .5rem 1.875rem rgba(0, 0, 0, .1);
  border: 1px solid rgba(2, 2, 30, .3);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
}

.iti--inline-dropdown ul.iti__country-list {
  font-size: 0.875rem;
  max-height: 17.5rem;
  color: #02021E;
}

ul.iti__country-list li,
.iti__search-input {
  margin-bottom: 0rem;
  padding: 0px 16px 0px 16px;
  height: 2.5rem;
}

.iti__search-input {
  font-size: 0.875rem;
  padding-left: 44px;
  background: transparent;
  background-image: url(https://cdn.prod.website-files.com/63f38a8c92397a024fcb9ae8/67beda784b502aa29d4d6f40_icon-search.svg);
  background-size: 16px;
  background-position: 16px;
  background-repeat: no-repeat;

}

ul.iti__country-list li.is--active {
  background-image: url(https://uploads-ssl.webflow.com/63f38a8c92397a024fcb9ae8/64a6fc58755faad4851761cb_icon-check-blue.svg);
  background-position: 95% 50%;
  background-size: 1.1rem;
  background-repeat: no-repeat;
}

/** dropdowns **/

[data-dropdown-arrow],
[data-dropdown-arrow-each] {
  transition: transform 200ms ease;
}

.w-dropdown-toggle.w--open [data-dropdown-arrow],
.w-dropdown-toggle [data-dropdown-arrow-each="up"],
[data-dropdown-state='open'] [data-dropdown-arrow] {
  transform: rotate(-180deg);
}

[data-dropdown-state='close'] [data-dropdown-arrow] {
  transform: rotate(0deg) !important;
}

[data-dropdown-state='open'] .dropdown__icon.is-open {
  display: none;
}

[data-dropdown-state='open'] .dropdown__icon.is-close {
  display: block;
}

.w-dropdown.mod--footer-nav .dropdown__icon-wrap {
  transition: all .2s;
  opacity: 0;
}

.w-dropdown.mod--footer-nav .w-dropdown-toggle:hover .dropdown__icon-wrap,
.w-dropdown.mod--footer-nav .w-dropdown-toggle.w--open .dropdown__icon-wrap {
  opacity: 1;
}


[data-faq-cms] .w-dropdown-toggle:hover .dropdown__icon-wrap,
.w-dropdown-toggle:hover [data-dropdown-plus] {
  color: #fff;
}

.w-dropdown-toggle.w--open [data-dropdown-plus="open-black"],
.w-dropdown-toggle:hover [data-dropdown-plus="open-black"],
[data-dropdown-state="open"] [data-dropdown-plus="open-black"] {
  color: #02021e;
}

.w-dropdown-toggle:hover .button__bg {
  transform: scale(1);
}

/* Button text animation */
[data-button-text] {
  position: relative;
  display: block;
  overflow: hidden;
}

[data-button-text]>div:last-child {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0%;
  bottom: -150%;
}

[data-button-text]>div {
  display: inline-block;
  transition: transform .3s;
}


[data-hover]:not([data-hover="false"]):hover [data-button-text]>div {
  transform: translateY(-150%);
}

@media screen and (min-width:992px) {

  /** faq dropdowns **/
  [data-block="faq"] .w-dropdown-toggle.w--open .dropdown__bg {
    margin: 0rem -2.5rem 0rem -2.5rem;
  }

  .iti--inline-dropdown .iti__dropdown-content {
    /** width: auto !important; **/
  }

  /** parallax glow of cursor **/
  [data-glow]::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0;
    will-change: background, opacity;
    transition-duration: 400ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: opacity;
    background-image: radial-gradient(circle 10rem at var(--cursor-x) var(--cursor-y),
        rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-size: auto;
    background-origin: padding-box;
    z-index: 0;
    border-radius: inherit;
  }

  [data-glow-container]:hover [data-glow]::before {
    opacity: 1;
  }
}

@media screen and (min-width:768px) {

  /** tech faq dropdowns **/
  .tech-content .w-dropdown-list {
    height: auto !important;
  }

}

@media screen and (min-width:480px) {
  [data-swiper-pagination] .swiper-pagination-bullet {
    max-width: 2rem;
  }

  .dropdown-inter-each.mod--issues .w-dropdown-list,
  [data-dropdown-show='desktop, tablet'] .w-dropdown-list {
    height: auto !important;
  }
}

@media screen and (max-width:991px) {
  [data-block="faq"] .w-dropdown-toggle.w--open .dropdown__bg {
    margin: 0rem -1.5rem 0rem -1.5rem;
  }
}

@media screen and (max-width:767px) {
  [data-block="faq"] .w-dropdown-toggle.w--open .dropdown__bg {
    margin: 0rem -1rem 0rem -1rem;
  }
}

@media screen and (max-width: 479px) {
  [data-anim].tab__content.mod--booking:not(.anim) iframe {
    min-height: 1388px;
    margin-bottom: -300px;
  }

  [data-swiper-pagination-style="load"] .swiper-pagination-bullet {
    max-width: 2rem;
  }

  .iti__selected-flag>.iti__arrow {
    width: 0.8rem;
    height: 0.8rem;
  }

  .iti--inline-dropdown .iti__dropdown-content {
    margin-top: -0.2rem;
  }

  .iti--inline-dropdown ul.iti__country-list {
    font-size: 0.75rem;
    max-height: 12.5rem;
  }

  .iti__search-input {
    font-size: 0.75rem;
    background-size: 14px;
    background-position: 16px;
  }
}

/** OTHER **/
.columns__col.mod--menu:hover>img {
  filter: brightness();
}

[data-filter-state="filtered"] [data-filter-dot] {
  display: block;
}

[data-filter-btn='open'] [data-filter-dot] {
  border-color: #02021e;
}

[data-filter-btn='open'] {
  background-color: #fff !important;
  color: #02021e !important;
}

[data-filter-btn='open'] [data-filter-icon] .button__bg {
  transform: scale(1);
}

[data-filter-btn='open'] [data-filter-icon] {
  color: #fff;
  /*border-color: #fdc448;*/
}

.solutions__rich-anim.done {
  max-height: 100%;
}

[data-preloader] {
  display: inline-block;
  /* или block, flex, в зависимости от ваших нужд */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.remodal__youtube iframe,
.remodal__youtube object,
.remodal__youtube embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body>button[class^="videoask-embed__button"] {
  opacity: 0 !important;
}

[data-videoask-preview]>button[class^="videoask-embed__button"] {
  position: relative !important;
  right: 0px !important;
  left: 0px !important;
  top: 0px !important;
  bottom: 0px !important;
  width: 100% !important;
  height: 100% !important;
  border: 0px solid !important;
}

.w-dyn-item[data-slug-industry="other-industries"] {
  position: absolute;
  opacity: 0;
}


[fs-cmsnest-element="nest-source"]>div:not(:last-child):after {
  content: ',';
  opacity: 0.7;
}

[fs-list-nest] [data-slug="other-industries"] {
  display: none !important;
}

[fs-list-nest] [data-slug]:not(:last-child):not([data-slug="other-industries"]):after {
  content: ',';
  opacity: 0.7;
}

[fs-list-nest] [data-slug="other-industries"]:after {
  content: '';
}

[fs-list-element="page-button"]::after {
  content: '';
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transform: scale(0);
  transition: all .3s;
  z-index: -1;
}

[fs-list-element="page-button"]:hover::after {
  transform: scale(1);
}

[data-anim-split] * {
  transition: all .3s;
}

[data-anim-heading]>* {
  overflow: hidden;
}

.social__link {
  transform: translateZ(0);
}

/* Custom scrollbar for table */
.w-embed.is-table {
  scrollbar-color: #3827C7 transparent;
}

.w-embed.is-table::-webkit-scrollbar {
  height: 0.25rem;
}

.w-embed.is-table::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 1rem;
}

.w-embed.is-table::-webkit-scrollbar-thumb {
  background-color: #3827C7 !important;
  border-radius: 1.5rem;
}

/* Disable pointer events for dropdown menu when closed, enable when open */
.header-dropdown__list * {
  pointer-events: none;
}

.header-dropdown__list.w--open * {
  pointer-events: auto;
}
